:root {
  --cyan-dark: #4d96a9;
  --cyan-light: #8fe3f9;
  --purple-dark: #855fb1;
  --purple-light: #d9b8ff;
  --slate-medium: #28283d;
  --slate-light: #87879d;
  --white: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  padding-top: 4rem;
}

.hero-img {
  margin: 4rem 0rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: calc(0.42 * 100vw);
  gap: 1.5rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
}
